{% extends 'recipes/base.html' %}
{% load static %}

{% block content %}
    <div class="bg-secondary py-5 my-5">
        <h3 class="text-center">Where recipes come to life</h3>
        <div class="input-group my-4 w-50 mx-auto">
            <input type="text" class="form-control" placeholder="Search for a specific recipe" aria-label="Recipe Search" aria-describedby="basic-addon2">
            <button class="input-group-text" id="basic-addon2">Search</button>
        </div>
    </div>
    

    <div class="bg-secondary py-5 my-5">
        <div class="container">
            <h3>Categories</h3>
            <div class="my-4">
                Placeholder
            </div>
        </div>
    </div>
    
  
    <div class="container mt-5">
        <h3 class="mx-4">Discover our most popular recipes:</h3>

        <div class="card-group justify-content-center">
    
            {% for recipe in recipes %}
                <div class="card my-4 mx-3">
                    <img src="{% static 'images/Logo.png' %}" class="card-img-top" alt="...">
                    <div class="card-body p-4">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                        <a href="{% url 'recipe-detail' recipe.pk %}" class="card-link">View Recipe</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock content %}