{% extends 'recipes/base.html' %}

{% block content %}
    <h1>Recipe #{{object.id}}</h1>
    
    <div class="card my-4" style="width: 18rem;">
        <img src="{% static object.image %}" class="card-img-top" alt="{{ object.title }} image">
        <div class="card-body">
            <h3 class="card-title">{{ object.title }}</h3>
            <p class="card-text">{{ object.description }}</p>

            <h3>Ingredients</h3>
            <p>{{ object.ingredients }}</p>

            <h3>Instructions</h3>
            <p>{{ object.directions }}</p>

            <h3>Final Considerations</h3>
            <p>{{ object.final_considerations }}</p>

            <p>{{ object.updated_at|date:"F d, Y" }}</p>
            <p>By: {{ object.author }}</p>
                        
            <p>{{ object.rating }}</p>
        </div>
    </div>
    {% if object.author == user or user.is_staff %}
        <div class="col-4">
            <a class="btn btn-outline-info" href="{% url 'recipe-update' object.id %}">Update Recipe</a>
            <a class="btn btn-outline-danger" href="{% url 'recipe-delete' object.id %}">Delete</a>
        </div>
    {% endif %}
{% endblock content %}